absl-py==0.12.0
aio-pika==6.8.1
aiofiles==0.8.0
aiohttp==3.8.1
aioredis==2.0.1
aiormq==3.3.1
aiosignal==1.2.0
alembic==1.4.1
altair==4.1.0
anyascii==0.1.7
anyconfig==0.10.0
anyio==2.2.0
appdirs==1.4.4
APScheduler==3.8.1
argon2-cffi==20.1.0
arrow==1.0.3
asgiref==3.3.4
astor==0.8.1
astroid==2.5.3
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.9.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650274792587/work
bidict==0.21.4
binaryornot==0.4.4
black==20.8b1
bleach==3.3.0
blinker==1.4
blis==0.7.4
bokeh==2.0.2
boto3==1.20.39
botocore==1.23.39
CacheControl==0.12.10
cachetools==4.2.1
captum==0.3.0
catalogue==2.0.6
certifi==2022.5.18.1
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.10
clang==5.0
click==7.1.2
cloudpickle==1.6.0
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
confuse==1.4.0
contractions==0.0.48
cookiecutter==1.7.2
croniter==1.2.0
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
databricks-cli==0.14.3
decorator==4.4.2
defusedxml==0.7.1
Django==3.1.4
dm-tree==0.1.6
dnspython==1.16.0
docker==4.0.2
docopt==0.6.2
dynaconf==3.1.4
dython==0.6.1
eli5==0.10.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
facets==1.1.0
fastapi==0.63.0
fbmessenger==6.0.0
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
frozenlist==1.3.0
fsspec==0.8.7
future==0.18.2
gast==0.3.3
gensim==4.0.0
gitdb==4.0.7
GitPython==3.1.14
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
google-search-results==2.4.1
graphviz @ file:///tmp/build/80754af9/python-graphviz_1612303637553/work
great-expectations==0.13.17
greenlet==1.1.2
grpcio==1.43.0
h11==0.9.0
h5py==3.1.0
html5lib==1.1
htmlmin==0.1.12
httpcore==0.11.1
httptools==0.3.0
httpx==0.15.4
humanfriendly==10.0
idna==2.10
ImageHash==4.2.0
imbalanced-learn==0.7.0
implicit==0.4.4
importlib-metadata==3.10.0
iniconfig==1.1.1
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1598865816163/work
ipython_genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.1
isort==5.8.0
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1611315808330/work
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonpatch==1.32
jsonpath-ng==1.5.2
jsonpickle==2.0.0
jsonpointer==2.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-packaging==0.7.12
jupyter-server==1.6.0
jupyterlab==3.0.13
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
kafka-python==2.0.2
kedro==0.17.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kneed==0.7.0
langcodes==3.3.0
langdetect==1.0.7
lazy-object-proxy==1.6.0
lxml==4.7.1
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mattermostwrapper==2.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
mlflow==1.15.0
msgpack==1.0.3
multidict==5.2.0
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.5
notebook==6.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1634106873763/work
oauthlib==3.1.0
omegaconf==2.0.6
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas==1.3.5
pandas-profiling==2.9.0
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.8.1
pathy==0.4.0
pdfminer.six==20201018
phik==0.11.2
pickleshare==0.7.5
pika==1.2.0
Pillow==8.4.0
pip-tools==5.5.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
ppscore==1.2.0
preshed==3.0.5
prince==0.7.1
prometheus-client==0.10.1
prometheus-flask-exporter==0.18.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.15.8
psycopg2-binary==2.9.3
py==1.10.0
pyahocorasick==1.4.2
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydeck==0.6.1
pydot==1.4.2
Pygments==2.8.1
PyJWT==2.0.0
pykwalify==1.8.0
pylint==2.7.4
pymongo==3.10.1
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
pyreadline3==3.3
pyrsistent==0.17.3
pyTelegramBotAPI==3.8.3
pytest==6.1.2
python-crfsuite==0.9.7
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-editor==1.0.4
python-engineio==4.3.1
python-json-logger==0.1.11
python-slugify==4.0.1
python-socketio==5.5.1
python3-saml==1.12.0
pytz==2021.3
PyWavelets==1.1.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
querystring-parser==1.2.4
questionary==1.5.2
rasa==2.8.22
rasa-sdk==2.8.4
rasa-x==1.0.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rocketchat-API==1.16.0
rsa==4.6
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.5.0
sacremoses==0.0.44
sanic==20.9.1
Sanic-Cors==0.10.0.post3
sanic-jwt==1.6.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.24.2
scikit-surprise==1.1.1
scipy @ file:///C:/ci/scipy_1630606942584/work
seaborn==0.11.0
Send2Trash==1.5.0
sentry-sdk==1.3.1
six==1.16.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smart-open==3.0.0
smmap==4.0.0
sniffio==1.2.0
sortedcontainers==2.3.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.4.30
sqlparse==0.4.1
srsly==2.4.2
starlette==0.13.6
streamlit==0.79.0
tabulate==0.8.2
tangled-up-in-unicode==0.0.7
tarsafe==0.0.3
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.6.2
tensorflow-addons==0.14.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-probability==0.13.0
termcolor==1.1.0
terminado==0.9.4
terminaltables==3.1.10
testpath==0.4.4
text-unidecode==1.3
textsearch==0.0.21
thinc==8.0.13
threadpoolctl==3.0.0
timm==0.3.4
tokenizers==0.10.2
toml==0.10.2
toolz==0.11.1
toposort==1.6
torch==1.8.0
torchvision==0.9.0
tornado==6.1
tqdm==4.60.0
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
transformers==4.4.2
twilio==6.50.1
typed-ast==1.4.3
typeguard==2.13.3
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==1.35
Unidecode==1.2.0
urllib3==1.26.8
validators==0.18.2
visions==0.5.0
waitress==2.0.0
wasabi==0.8.2
watchdog==2.0.2
watermark==2.2.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
webexteamssdk==1.6
websocket-client==0.58.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wordcloud==1.8.1
wordninja==2.0.0
wrapt==1.12.1
xgboost==1.3.3
xmlsec==1.3.12
yarl==1.7.2
yellowbrick==1.3.post1
zipp==3.4.1
